<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Pokédex</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      th:href="@{/squared_pokemon_transparent.ico}"
    />
  </head>
  <body class="bg-gray-100">
    <div class="container mx-auto px-4">
      <div class="py-5">
        <!-- nav -->
        <div class="flex flex-col md:flex-row justify-between items-center">
          <!--login and home -->
          <div class="flex gap-4 mb-4 md:mb-0">
            <a href="/" class="text-blue-500 hover:text-blue-700">Home</a>
            <a href="/party" class="text-blue-500 hover:text-blue-700">My Team</a>
          </div>
          
          <!-- other links -->
          <div class="flex gap-4 mb-4 md:mb-0">
            <a href="/login" class="text-blue-500 hover:text-blue-700">Login</a>
            <a href="/news" class="text-blue-500 hover:text-blue-700">News</a>
            <a href="#" class="text-blue-500 hover:text-blue-700">Daily Quiz</a>
          </div>
        </div>
      </div>

       <!-- login -->
       <div class="flex justify-center items-center min-h-screen">
        <div class="w-full max-w-xs">
            <!-- to logout -->
            <div th:if="${currentUser}" th:object="${currentUser}">
                <div class="flex flex-col items-center justify-center min-h-screen">
                    <h1 class="text-center text-2xl font-bold mb-4">Welcome, <span th:text="${currentUser}"></span></h1>
                    <form th:action="@{/logout}" method="post" class="text-center">
                        <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                            Logout
                        </button>
                    </form>
                </div>
            </div>
           <!-- to login -->
          <div th:unless="${currentUser}">
            <form method="post" th:action="@{/login}" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="login">
                  Enter your name:
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" name="login" placeholder="Username">
              </div>
              <div class="flex items-center justify-center">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                  Build my team!
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
        
      </div>
    </div>
  </body>
</html>
